mixin paginationBar(basePath, pagination, ariaLabel)
  nav.pagination-bar(aria-label=ariaLabel)
    if pagination.previousPage
      a(href=urlWithLang(`${basePath}?page=${pagination.previousPage}`) role="button" class="secondary") 上一页
    else
      span.pagination-disabled 上一页
    span.pagination-summary= `第 ${pagination.page} / ${pagination.totalPages} 页，共 ${pagination.total} 条`
    if pagination.nextPage
      a(href=urlWithLang(`${basePath}?page=${pagination.nextPage}`) role="button" class="secondary") 下一页
    else
      span.pagination-disabled 下一页
