extends layout.pug

block content
  section.list-panel
    header
      hgroup
        h1= t('admin.users.title')
        p.page-lead= t('admin.users.lead')
    if users.length
      .table-shell
        table.data-table
          thead
            tr
              th= t('admin.users.username')
              th= t('admin.users.name')
              th= t('admin.users.role')
              th= t('admin.users.approval')
          tbody
            each user in users
              tr
                td.table-code= user.username
                td= user.name || t('admin.users.noDisplayName')
                td= localizeRole(user.role)
                td
                  if user.approvalStatus === 'approved'
                    span.status-chip.ac= localizeApprovalStatus(user.approvalStatus)
                  else if user.approvalStatus === 'rejected'
                    span.status-chip.failed= localizeApprovalStatus(user.approvalStatus)
                  else
                    span.status-chip.pending= localizeApprovalStatus(user.approvalStatus)
    else
      article
        p= t('admin.users.empty')
