extends layout.pug

block content
  section.list-panel
    header
      hgroup
        h1 Admin users
        p.page-lead Review current user accounts and their approval status.
    if users.length
      each user in users
        article
          header
            h2= user.username
            p.soft-note= user.name || 'No display name'
          ul.compact-meta
            li Role: #{user.role}
            li
              if user.approvalStatus === 'approved'
                span.status-chip.ac= user.approvalStatus
              else if user.approvalStatus === 'rejected'
                span.status-chip.failed= user.approvalStatus
              else
                span.status-chip.pending= user.approvalStatus
    else
      article
        p No users to review.
