extends layout.pug

block content
  section.list-panel
    header
      hgroup
        h1= t('admin.users.title')
        p.page-lead= t('admin.users.lead')
    if users.length
      each user in users
        article
          header
            h2= user.username
            p.soft-note= user.name || t('admin.users.noDisplayName')
          ul.compact-meta
            li #{t('admin.users.role')}: #{localizeRole(user.role)}
            li
              if user.approvalStatus === 'approved'
                span.status-chip.ac= localizeApprovalStatus(user.approvalStatus)
              else if user.approvalStatus === 'rejected'
                span.status-chip.failed= localizeApprovalStatus(user.approvalStatus)
              else
                span.status-chip.pending= localizeApprovalStatus(user.approvalStatus)
    else
      article
        p= t('admin.users.empty')
