extends layout.pug

block content
  section.list-panel
    header
      hgroup
        h1= t('admin.problems.title')
        p.page-lead= t('admin.problems.lead')
      .page-actions
        a(href=urlWithLang('/admin/problems/new') role="button")= t('admin.problems.create')
    if problems.length
      each problem in problems
        article
          header
            h2= `${problem.pid} - ${problem.title}`
          ul.compact-meta
            li #{t('admin.problems.languages')}: #{problem.allowLanguages.join(', ')}
            li
              if problem.isVisible
                span.status-chip.ac= t('status.visible')
              else
                span.status-chip.pending= t('status.hidden')
          footer
            .page-actions
              a(href=urlWithLang(`/admin/problems/${problem.id}/edit`))= t('admin.problems.edit')
              if !problem.isVisible
                form(method="post" action=urlWithLang(`/admin/problems/${problem.id}/publish`))
                  button(type="submit" class="secondary")= t('admin.problems.publish')
    else
      article
        p= t('admin.problems.empty')
