extends layout.pug

block content
  section.list-panel
    header
      hgroup
        h1 Admin problems
        p.page-lead Browse problems in the same way an OJ manager would scan the catalog.
      .page-actions
        a(href="/admin/problems/new" role="button") Create problem
    if problems.length
      each problem in problems
        article
          header
            h2= `${problem.pid} - ${problem.title}`
          ul.compact-meta
            li Languages: #{problem.allowLanguages.join(', ')}
            li
              if problem.isVisible
                span.status-chip.ac Visible
              else
                span.status-chip.pending Hidden
          footer
            .page-actions
              a(href=`/admin/problems/${problem.id}/edit`) Edit
              if !problem.isVisible
                form(method="post" action=`/admin/problems/${problem.id}/publish`)
                  button(type="submit" class="secondary") Publish
    else
      article
        p No problems available.
