extends layout.pug

block content
  section.detail-panel
    header
      hgroup
        h1= contest.title
        p.page-lead= contest.description
    .grid
      article
        h3= t('contest.status')
        p
          span.status-chip.pending= localizeContestStatus(contest.status)
      article
        h3= t('contest.start')
        p= contest.startAtText
      article
        h3= t('contest.end')
        p= contest.endAtText
    article
      h2= t('contest.aboutTitle')
      p= t('contest.aboutBody')
