//- 比赛列表页：目前数据是占位的，但页面结构已经补齐。
extends layout.pug

block content
  section.list-panel
    header
      hgroup
        h1= "比赛列表"
        p.page-lead= "常见 OJ 一般都会有比赛入口，所以这里先提供一个结构化的比赛页。"
    if contests.length
      .table-shell
        table.data-table
          thead
            tr
              th= "比赛名称"
              th= "状态"
              th= "开始"
              th= "结束"
              th= "操作"
          tbody
            each contest in contests
              tr
                td
                  strong
                    a(href=`/contests/${contest.id}`)= contest.title
                  br
                  small.soft-note= contest.description
                td
                  span.status-chip.pending= formatContestStatusLabel(contest.status)
                td= contest.startAtText
                td= contest.endAtText
                td
                  a(href=`/contests/${contest.id}`)= "打开比赛页面"
    else
      article
        p= "暂时还没有比赛。"
