extends layout.pug

block content
  .grid
    section
      hgroup
        h1= t('home.title')
        p= t('home.lead')
      p
        = t('home.description')
      .grid
        article
          h3= t('home.start.title')
          p= t('home.start.body')
          a(href=urlWithLang('/problems') role="button")= t('home.start.cta')
        article
          h3= t('home.results.title')
          p= t('home.results.body')
          a(href=urlWithLang('/submissions') role="button" class="secondary")= t('home.results.cta')
        article
          h3= t('home.rankings.title')
          p= t('home.rankings.body')
          a(href=urlWithLang('/ranklist') role="button" class="contrast")= t('home.rankings.cta')
    aside
      article
        h4= t('home.quickLinks')
        ul
          li
            a(href=urlWithLang('/problems'))= t('problems.title')
          li
            a(href=urlWithLang('/submissions'))= t('submissions.title')
          li
            a(href=urlWithLang('/ranklist'))= t('ranklist.title')
          li
            a(href=urlWithLang('/contests'))= t('contests.title')
          li
            a(href=urlWithLang('/login'))= t('login.title')
          li
            a(href=urlWithLang('/register'))= t('register.title')
      article
        h4= t('home.learningFlow')
        ol
          li= t('home.flow.step1')
          li= t('home.flow.step2')
          li= t('home.flow.step3')
          li= t('home.flow.step4')
