extends layout.pug

block content
  section.detail-panel
    header
      hgroup
        h1= `${problem.pid} - ${problem.title}`
        p.page-lead= t('problem.lead')
      p
        each language, index in problem.allowLanguages
          span.status-chip(class=index === 0 ? 'ac' : '')= language
          if index !== problem.allowLanguages.length - 1
            |  
    .grid
      article
        header
          h2= t('problem.statement')
        pre.mono-block= problem.statementMarkdown
      article
        header
          h2= t('problem.submit')
          p.soft-note= t('problem.workflow')
        form(method="post" action=urlWithLang('/submissions'))
          input(type="hidden" name="pid" value=problem.pid)
          label(for="language")= t('problem.language')
          select(name="language" id="language")
            each language in problem.allowLanguages
              option(value=language)= language
          label(for="sourceCode")= t('problem.sourceCode')
          textarea(name="sourceCode" id="sourceCode" placeholder=t('problem.placeholder'))
          .grid
            button(type="submit")= t('problem.submit')
            a(href=urlWithLang('/problems') role="button" class="secondary")= t('problem.backToProblems')
