extends layout.pug

block content
  .page-stack
    .page-header
      .page-eyebrow Practice
      h1.page-title Browse problems
      p.page-description
        | Choose a problem, read the statement, and submit code through a simple learning-oriented interface.
    if problems.length
      .card-grid
        each problem in problems
          article.card
            .card-row
              div
                h2.card-title
                  a(href=`/problem/${problem.pid}`)= `${problem.pid} - ${problem.title}`
                ul.meta-list
                  li Problem ID: #{problem.pid}
                  li Practice ready
              a.button.button--secondary(href=`/problem/${problem.pid}`) Open
    else
      .empty-state No visible problems yet.
