extends layout.pug

block content
  section.list-panel
    header
      hgroup
        h1= t('problems.title')
        p.page-lead= t('problems.lead')
      .page-actions
        a(href=urlWithLang('/submissions') role="button" class="secondary")= t('problems.openSubmissionList')
        a(href=urlWithLang('/login') role="button" class="contrast")= t('problems.login')
    if problems.length
      each problem in problems
        article
          header
            h2
              a(href=urlWithLang(`/problem/${problem.pid}`))= `${problem.pid} - ${problem.title}`
            p.soft-note= t('problems.itemLead')
          ul.compact-meta
            li #{t('problems.pid')}: #{problem.pid}
            li #{t('problems.languages')}: #{problem.allowLanguages.join(', ')}
          footer
            a(href=urlWithLang(`/problem/${problem.pid}`))= t('problems.submit')
    else
      article
        p= t('problems.empty')
