//- 题目列表页：普通用户最常进入的页面之一。
extends layout.pug

block content
  section.list-panel
    header
      hgroup
        h1= t('problems.title')
        p.page-lead= t('problems.lead')
      .page-actions
        a(href=urlWithLang('/submissions') role="button" class="secondary")= t('problems.openSubmissionList')
        a(href=urlWithLang('/login') role="button" class="contrast")= t('problems.login')
    if problems.length
      .table-shell
        table.data-table
          thead
            tr
              th= t('problems.pid')
              th= t('problems.problem')
              th= t('problems.languages')
              th= t('problems.action')
          tbody
            each problem in problems
              tr
                td.table-code= problem.pid
                td
                  strong
                    a(href=urlWithLang(`/problem/${problem.pid}`))= problem.title
                td= problem.allowLanguages.join(', ')
                td
                  a(href=urlWithLang(`/problem/${problem.pid}`))= t('problems.submit')
    else
      article
        p= t('problems.empty')
