extends layout.pug

block content
  section.detail-panel
    header
      hgroup
        h1 Profile
        p.page-lead Basic account information for the current user.
    .grid
      article
        h3 Username
        p= user.username
      article
        h3 Role
        p= user.role
      article
        h3 Approval
        p
          if user.approvalStatus === 'approved'
            span.status-chip.ac= user.approvalStatus
          else if user.approvalStatus === 'rejected'
            span.status-chip.failed= user.approvalStatus
          else
            span.status-chip.pending= user.approvalStatus
