//- 排行榜页：当前实现是一个简化版 OJ 排名表。
extends layout.pug

block content
  section.list-panel
    header
      hgroup
        h1= t('ranklist.title')
        p.page-lead= t('ranklist.lead')
    if entries.length
      .table-shell
        table.data-table
          thead
            tr
              th= t('ranklist.rank')
              th= t('ranklist.user')
              th= t('ranklist.accepted')
              th= t('ranklist.totalSubmissions')
              th= t('ranklist.lastAc')
          tbody
            each entry in entries
              tr
                td.table-code= `#${entry.rank}`
                td= entry.username
                td= entry.acceptedCount
                td= entry.submissionCount
                td= entry.lastAcceptedAt || t('ranklist.na')
    else
      article
        p= t('ranklist.noData')
