//- 注册页：当前面向学生账号注册，注册后默认待审核。
extends layout.pug

block content
  section.auth-panel
    header
      hgroup
        h1= t('register.title')
        p.page-lead= t('register.lead')
    article.panel-card.form-card
      .panel-body
        form(method="post" action=urlWithLang('/register'))
          .form-grid
            div
              label(for="username")= t('register.username')
              input#username(type="text" name="username" placeholder=t('register.usernamePlaceholder'))
            div
              label(for="name")= t('register.name')
              input#name(type="text" name="name" placeholder=t('register.namePlaceholder'))
            fieldset.form-block
              legend= t('register.gender')
              .choice-row
                label.choice-chip
                  input(type="radio" name="gender" value="male" checked)
                  span 男
                label.choice-chip
                  input(type="radio" name="gender" value="female")
                  span 女
            div
              label(for="grade")= t('register.grade')
              select#grade(name="grade")
                each grade in grades
                  option(value=grade.name)= grade.name
            div
              label(for="className")= t('register.className')
              input#className(type="text" name="className" placeholder=t('register.classNamePlaceholder'))
            div
              label(for="password")= t('register.password')
              input#password(type="password" name="password" placeholder=t('register.passwordPlaceholder'))
          .form-actions
            button(type="submit")= t('register.submit')
            a(href=urlWithLang('/login') role="button" class="secondary")= t('register.backToLogin')
